table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom:20px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.banner {
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  height:47px;
  box-shadow: 0 2px 10px 0 #d6d6d6;
  padding-left:15px;
}
main {
  margin:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warning {
  padding:10px;
  display: flex;
  border:1px solid #f57706;
  margin-bottom:30px;
}
.search {
  width: 100%;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #f57706;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}
.searchTerm:focus{
  color: black;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #f57706;;
  background: #f57706;;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.showHide {
  border: 1px solid #f57706;;
  background: #f57706;;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom:20px;
  width:300px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.wrap{
  width:350px;
}
.navBar {
  padding-top: 5px;
}
.navButton {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-transform: capitalize;
  padding: 10px 22px!important;
  color:black;
  text-decoration: none;
}
form {
  margin-bottom: 25px;
}